body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

header {
  background-color: #2a4494;
  width: 100%;
  height: 150px;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  color: #a5efed;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

h2 {
  font-size: 1.7rem;
  align-items: center;
  text-align: center;
}

h3 {
  font-size: 1.7rem;
  align-items: center;
  text-align: center;
  color: aliceblue;
}

.button-primary {
  background-color: #2a4494;
  color: aliceblue;
  padding: 15px;
  margin-top: 20px;
  align-self: center;
  border-radius: 50px;
  border: #a5efed;
}

.button-secondary {
  background-color: #10626d;
  color: aliceblue;
  padding: 10px;
  margin-top: 20px;
  /* margin-left: 45%; */
  border-radius: 50px;
  border: #a5efed;
  align-self: center;
}
.addSong {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #cff1f0;
  max-width: 50%;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 60%;
  background-color: white;
  border-radius: 10px;
}

label {
  display: table-cell;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
}
input {
  display: table-cell;
  width: 100%;
}

select {
  min-width: 100%;
  padding: 3px;
}

.songsPlaylist {
  background-color: #2a4494;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.songList {
  background-color: #cff1f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  list-style: none;
  border-radius: 10px;
  margin: 20px;
}

.song {
  background-color: white;
  padding: 50px;
  border-radius: 40px;
  margin: 20px;
  margin-top: 20px;
  min-width: 500px;
}

.songDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.songDetails {
  list-style: none;
  padding: 10px;
}

.title {
  font-size: 1rem;
}
